# Python files
__pycache__/

# IPython Notebook
.ipynb_checkpoints

# data and notebooks at root
data/*
carrousel_test.ipynb

# emacs backup files
*~
*/*~

# emacs autosave files
#*#
*/#*#

# MAC files
.DS_Store